.mainSection {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 991px) {
  .mainSection {
    flex-direction: column; 
    align-items: center;
  }
}

.heroImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 474px;
  align-self: end;
  margin-right: 140px;
  max-width: 100%;
  margin-bottom: 20px;
}


@media (max-width: 1199px) {
  .heroImage {
    width: 60%; 
    margin: 20px 0; 
    max-width: 300px; 
  }
}

@media (max-width: 991px) {
  .heroImage {
    align-self: center; 
  }
}

.contentWrapper {
  display: flex;
  margin-top: -384px;
  margin-left: 80px;
  width: 800px;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

@media (max-width: 991px) {
  .contentWrapper {
    margin-top: 0px;
    margin-left: 20px;
    align-items: center; 
  }
}

.title {
  color: #333333;
  font: 600 48px/1 'Mulish', sans-serif;
  line-height: 1.2; 
}

@media (max-width: 991px) {
  .title {
    font-size: 32px; 
    line-height: 1.4; 
    text-align: center; 
  }
}

.subtitle {
  color: rgba(51, 51, 51, 0.7);
  font: 400 14px/20px 'Mulish', sans-serif;
  margin-top: 0px;
  text-align: left;
}

@media (max-width: 991px) {
  .subtitle {
    font-size: 16px; 
    text-align: center; 
    margin-top: 10px; 
  }
}

.shopButton {
  border-radius: 15px;
  background: linear-gradient(135deg, rgb(221, 189, 13) 0%, rgb(222, 89, 1) 100%);
  box-shadow: 0 0 20px rgba(254, 91, 20, 0.4);
  margin-top: 20px;
  margin-left: 80px;
  cursor: pointer;
  padding: 0 34px;
  font: 600 16px/56px 'Mulish', sans-serif;
  color: #fff;
  border: none;
}

.shopButton:hover {
  box-shadow: 0 0 25px rgba(254, 91, 20, 0.6);
}

@media (max-width: 991px) {
  .shopButton {
    padding: 0 20px;
    margin-left: 0;
    align-self: center;
  }
}

.container {
  align-self: center;
  display: flex;
  margin-top: 120px;
  width: 80%;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
}

@media (max-width: 991px) {
  .container {
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 7px 11px 50px rgba(254, 91, 20, 0.3);
  text-align: center;
  flex-grow: 1;
  max-width: 300px;
  max-height: 150px;
}

.highlightedCard {
  background: linear-gradient(135deg, #FF6A00, #FF9500);
  color: #fff;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.phoneIcon {
  background-image: url('../../../images/phone.png');
}

.locationIcon {
  background-image: url('../../../images/location1.png');
}

.hoursIcon {
  background-image: url('../../../images/clock.png');
}

.phoneNumber {
  font: 600 20px/56px 'Mulish', sans-serif;
  font-weight: bold;
  color: #333333;
}

.hours {
  font: 600 20px/56px 'Mulish', sans-serif;
  font-weight: bold;
  color: #333333;
}

.address {
  font: 600 20px/30px 'Mulish', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.description {
  font-size: 16px;
  color: #888;
}

.descriptionAdress {
  font-size: 16px;
  color: #ffffff;
}

.locationSection {
  margin-top: 60px; 
  width: 100%; 
  text-align: center; 
}

.locationTitle {
  font-size: 2em; 
  color: #333; 
  margin-bottom: 20px; 

}